.event{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
    margin: 0% 3% 5% 3%;
  }

  .carousel{
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .card-img{
    grid-column: 1/3;
    grid-row:1/3;
  }

  .otherEvent{
    background-color:#B0C4DE;
    grid-column: 1/3;
    grid-row: 3/3;
    border-radius: 15px;
  }

  .card-body{
    color:black;
  }

  a:hover, a:visited, a:link
  {
    text-decoration: none;
  }

  .sideEvent{
    background-color:#B0C4DE;
    grid-column: 3/4;
    grid-row: 1/3;
    border-radius: 15px;
    padding:15px;
  }


  .listOfNews > ul > li{
    padding: 10px;
  }