.colleges {
    flex-direction: column;
    align-items:center;
    max-width: 1200px;
    width: 100%;
    display: block;
}

.Campus{
    height: 60%;
    width: 80%;
    display: flex;
    margin: 20px 10px 20px 10px;
    padding:50px;
    background-position: center;
    border-radius:25px; 
    justify-content: center;
}

.Baruch{
    background-image: url("Baruch.jpg");
}

.JohnJay{
    background-image: url("John-jay.jpg");
}

.York{
    background-image: url("York.png");
}

.colleges a{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease;
}

.colleges a:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
}

.collegeName{
    border: 1px lightgray solid;
    font-weight: bold;
    font-size:35px;
    backdrop-filter: blur(10px);
    color:white;
    padding:10px 20px 10px 20px;
    text-align: center;
    justify-content: center;
    font-family: Georgia;
}

a:hover, a:visited, a:link
{
    text-decoration: none;
}

.shrinkImg{

}