*{
    box-sizing: border-box;
    font-family: Georgia, sans-serif;
}


.nav{
    background-color: #0032A1;
}

.nav > img{
    height: 100px;
    width: 100px;
    margin: 20px;
}
.nav > ul{
    list-style-type: none;
    display: flex;
    justify-content:center;
    gap: 40px;
    align-items: end;
    color: white;
    font-size: 1.25rem;
}

.row--cards{
    margin:20px;
    border-radius: 10px;
}

.info{
    display: flex;
    justify-self: space-between;
    gap:50px;
}

.card{
    padding: 20px;
    background-color: #F0F8FF;
    box-shadow: 10px 5px 5px #4682B4;;
}

.description{
    padding-top: 10px;
    padding-bottom: 10px;
}

.location{
    font-weight: 600;
}

.row-date{
    padding: 10px;
}

.btn-link{
    cursor: pointer;
}

a{
    color: white;
}

a:hover{
    color: #B0C4DE;  
    text-decoration: none;
}