*{
    box-sizing: border-box;
    font-family: Georgia, sans-serif;
}

.nav{
    background-color: #0033A0;
    max-height: 100px;
}

.nav > img{
    height: 80px;
    width: 80px;
    margin: 10px;
    margin-right: auto;
}
.nav > ul{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    gap: 100px;
    align-items: end;
    color: white;
    font-size: 1.25rem;
    margin-right: 100px;
}

.nav ul li a{
    border-radius: 25px;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;

}

.nav ul li a:hover {
    background-color: #004bb5;
}

.row--cards{
    margin:20px;
    border-radius: 20px;
    color: #050A30;
}

.info{
    display: flex;
    justify-self: space-between;
    gap:50px;
}

.card{
    padding: 20px;
    background-color: #F0F8FF;
    box-shadow: 10px 5px 5px #4682B4;;
}

.dates{
    background-color: #B0C4DE;
    margin: 10px;
    border-radius: 15px;
}

.description{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.25rem;
}

.location{
    font-weight: 600;
    font-size: 1.25rem;
}

.row-date{
    padding: 10px;
    font-size: 1.25rem;
}

.btn-link{
    cursor: pointer;
}

.btn a{
    color: white;
    text-decoration: none;
}

.btn:hover{
    transform: translateY(-5px);
    transition: transform 0.3s;
}